Movie_bot_Node_red_flows.json
[{"id":"20b0d90b.133d96","type":"tab","label":"Movie Ticket Chatbot Flow","disabled":false,"info":""},{"id":"4d3deba5.55ca44","type":"watson-conversation-v1","z":"20b0d90b.133d96","name":"Movie Bot","workspaceid":"a362556e-92b5-4580-99df-69943dd53871","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6da51e7f-ecef-4ee6-940e-30f5eb1df500","timeout":"","optout-learning":false,"x":440,"y":280,"wires":[["d8df471f.a63398"]]},{"id":"2fd815f3.618cca","type":"inject","z":"20b0d90b.133d96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi","payloadType":"str","x":190,"y":360,"wires":[["4d3deba5.55ca44"]]},{"id":"78b8f035.41c54","type":"debug","z":"20b0d90b.133d96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"d8df471f.a63398","type":"function","z":"20b0d90b.133d96","name":"Parsing","func":"if(msg.payload.output.generic[0].response_type==\"message\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://upload.wikimedia.org/wikipedia/commons/d/dc/Pvrcinemas_logo.jpg\"\n  }  msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["78b8f035.41c54","80ca8979.f90738","aa1d0648.1320b8","9bce8d52.8fdbd"]]},{"id":"b0f7b221.6fb26","type":"ui_form","z":"20b0d90b.133d96","name":"","label":"","group":"4c10755.608948c","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":180,"wires":[["357f2abb.7a5846"]]},{"id":"357f2abb.7a5846","type":"function","z":"20b0d90b.133d96","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":180,"wires":[["4d3deba5.55ca44","9095519.fa153b"]]},{"id":"9095519.fa153b","type":"ui_text","z":"20b0d90b.133d96","group":"4c10755.608948c","order":3,"width":"5","height":"2","name":"","label":"Client :","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":120,"wires":[]},{"id":"80ca8979.f90738","type":"ui_text","z":"20b0d90b.133d96","group":"4c10755.608948c","order":4,"width":"4","height":"3","name":"","label":"PVR Bot:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":240,"wires":[]},{"id":"aa1d0648.1320b8","type":"ui_audio","z":"20b0d90b.133d96","name":"","group":"4c10755.608948c","voice":"en-US","always":"","x":720,"y":100,"wires":[]},{"id":"9bce8d52.8fdbd","type":"ui_template","z":"20b0d90b.133d96","group":"4c10755.608948c","name":"","order":6,"width":"6","height":"6","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":160,"wires":[[]]},{"id":"4c10755.608948c","type":"ui_group","z":"","name":"Movie Assistent Bot","tab":"9bad2780.1e2908","order":1,"disp":true,"width":"6","collapse":false},{"id":"9bad2780.1e2908","type":"ui_tab","z":"","name":"PVR Multiplex Cinema's Help Desk","icon":"dashboard","disabled":false,"hidden":false}]